
:root {
 --text-color: #1a1c2b;
 --link-color: #4a76ee;
 --backround-color: #eeeff1;

}
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
html {
scroll-behavior: smooth;
}
body{
font-family: "roboto", sans-serif ;
background-color: var(--#eeeff1) ;
}
a {
color: var(#4a76ee);
text-decoration: none;
}
/* navbar */
nav {
display: flex;
justify-content: space-between;
padding: 0 50;
align-items: center;
}
.left{
margin-left: 15px;
}
.right {
margin-right: 13px;
}
.left a {
color: var(--text-color);
font-size: 22px;
font-weight: 600;
}
.right a {
color: var(--text-color);
margin: 0 10px;
}
.right a span {
margin-left: 10px;
}


.hero-section {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 50;
margin: 50 0;
gap: 40px;
margin-bottom: 40px;

}
p {

margin-left: 50px;
margin-top: 5px;
}
h2 {
margin-left: 40px;
}
.hero-section img  {
flex: 2;
border-radius:50%;
margin-top: 65px;
margin-left: 70px;
width: 70%;
}
.links {
margin-left: 70px;
margin-top: 20px;
}
.cells {
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
gap: 20px;
padding: 10px 20px;

}
h2 {
text-align: center;
}
.cell img {
width: 30px;
height: 30px;
object-fit: contain;
border-radius: 8px;
}
.headshot {
margin-bottom: 20px;
object-fit: contain;
}

.text {

text-align: center;
padding: 5px 20px ;
}
.section-testimony {
margin-top: 100px;
padding: 0  50;

}
.section-testimony h2 {
font-size: 35px;
margin-right:90%;
margin: 5 10;
}
.section-testimony img {
margin-left: 60px;
width: 200px;
margin-bottom: 30px;
border-radius: 50%;

}
.group {
display: flex;
align-items: center;
gap: 50px;
}
.section-testimony .personal-details {
width: 20%;
margin-left: 20px;
}
p1 {
margin-bottom: 13px;

}
section.contact {
padding: 0 50;
margin-bottom: 100px;
}

h3 {
margin-left: 40px;
font-size: 35px;
margin-top: 60px;
}
.tx {
margin-left: 40px;
font-size: 15px;
margin-top: 5px;
width: 50%;
display: flex;
flex: 3;

}


.form {
margin-left: 40px;
margin-top: 5px;
width: 50%;
display: flex;
flex-direction: column;
flex: 3;
border-color:  6px blue; ;
justify-content: space-around;
align-items: center;
background-color: #eeeff1;

}
.Gr {
display: flex;
gap: 50px;
}
.form input , textarea {
flex-direction: column;
width: 600px;


}



@media (max-width:300px){
nav {
 padding: 0 20;
}
.right a span {
 display: none;   
}
nav .right a {
 font-size: 22px; 
}
nav .right a :last-child {
 color: var(--text-color)
 var(--backround-color)transparent;
 padding: 0;
}



